SECRET_KEY=sua-secret-key-aqui-de-exemplo
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com

# Configurações do Banco de Dados PostgreSQL (Neon / Render)
DB_HOST=localhost
DB_NAME=neondb
DB_USER=nome_ususario
DB_PASSWORD=sua_senha
DB_PORT=5432