{% extends "base.html" %}

{% block content %}

<h1>Agenda</h1>

<div id="calendar"></div>

<script>

document.addEventListener('DOMContentLoaded', function() {

  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: 'pt-br',

      events: '/api/agendamentos/',

      eventClick: function(info){
          alert("Agendamento: " + info.event.title);
      }

  });

  calendar.render();

});

</script>

{% endblock %}